<!--   
  <div class="box">
    <div class="box-top"></div>
    <div class="box-body">
      <div class="box-body-left"></div>
      <div class="box-body-right">
          <app-page
          (afterReachBottom)="getData($event)"
          [(isGetData)]="isGetData"
          >
          <div>
              <div *ngFor="let item of items;let i = index" class="item">{{item['id']}}---{{item['name']}}</div>
          </div>
          </app-page>
      </div>
    </div>
  </div> -->
 <!-- <ng-template #load>
    <nz-spin nzSimple></nz-spin>
 </ng-template> -->
 
 
  
  <div class="box">
    <div class="box-top"></div>
    <div class="box-body">
      <div class="box-body-left"></div>
      <div class="box-body-right">
          <app-virtual-scroll
          (afterReachBottom)="getData($event)"
          [(isGetData)]="isGetData"
          [items]="items"
          [handleClass]="'example-viewport'"
          >
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" >
              <div *cdkVirtualFor="let item of items" class="example-item">{{item.id}}</div>
          </cdk-virtual-scroll-viewport>
          </app-virtual-scroll>
      </div>
    </div>
  </div>